
@{
    ViewBag.Title = "TrajetConvive";
}


<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>GoogleMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    @{
        var lieu = @ViewData["lieu"];
    }
    <!-- Formulaire qui va chercher le lieu de l'événement (lieu) et le point de départ (adresse)-->
    <form method="post" action="@Url.Action("TrajetConvive", "Convive")">
        <div class="form-group">
            <input style="display: none" type="text" name="lieu" value="@ViewData["lieu"]" class="form-control" id="lieu" placeholder="Entrez votre adresse de départ">
            <input type="text" name="adresse" value="@ViewData["adresse"]" class="form-control" id="adresse" placeholder="Entrez votre adresse de départ">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!--intégration de la carte avec l'itinéraire-->
    <iframe id="maps" width="600" height="450" frameborder="0" style="border: 0;"
            src='https://www.google.com/maps/embed/v1/directions?origin=rennes&destination=nantes&key=AIzaSyDWuVY7zg7s0MRF4Pg5xuWkGmIKCGDvoPs' allowfullscreen></iframe>

    <!-- entête du tableau où on affiche les parkings et le nombre de places-->
    <table id="PTable" class="table" style="width: 50%;">
        <thead>
            <tr>
                <th>
                    Parking
                </th>
                <th>
                    Places
                </th>
            </tr>
        </thead>
        <tbody id='bodyT'>
            <tr></tr>
        </tbody>
    </table>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>