@model  IEnumerable<Roazhon_Fest.Models.EvenementViewModel>
@{
    ViewBag.Title = "AccueilConvive";
}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/accueilConvive.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light alert alert-info mt-4 mb-4 shadow mx-auto col-11">
            <form class="form-inline mx-auto">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <!--button class="btn btn-outline-info ml-auto" type="button">Ajouter</!--button>-->
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Go</button>
                @Html.ActionLink("Ajouter", "Create")
            </form>
            <button class="btn btn-outline-danger ml-auto" type="button"><img src="~/Content/logout.png" width="30px" /></button>
        </nav>

        <div class="row mx-auto my-5">

            @foreach (var item in Model)
            {
                <div class="card mx-auto my-4 shadow scale" style="width: 18rem;">
                    <img class="card-img-top" src="~/Content/rennes.jpg" alt="Card image cap">
                    <div class="card-body">
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Nom).ToString(), "Details", new { ID = item.ID })
                        <!--<h5 class="text-center font-weight-bold"></h5> -->
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            }


        </div>
    </div>
</body>
</html>

